@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 16px;
}

html, body { height: 100%; }
body { @apply bg-gray-50 text-gray-900; }

.container { @apply mx-auto max-w-6xl px-4; }
